[submodule "cookbooks/collectd"]
	path = cookbooks/collectd
	url = git://github.com/httpdss/chef-collectd.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
